# Build artifacts and binaries
__pycache__/
*.pyc
*.db
*.log
*.out
*.spec
*.blockmap
*.pak
*.dll
*.exe
*.bat
*.sh
*.lnk
*.shortcut
*.zip
*.enc
*.key
*.lock
/01_Daemon_Core_Agents/Lyss/ffmpeg
/Lyss/ffmpeg
Lyra/.env
/The_Troubles/Luna/reports
/The_Troubles/John/crash_dumps
/The_Troubles/Duke/reports
/The_Troubles/Luna/logs
/The_Troubles/John/logs
