*.pyc
/Rhea_historic/_inbox/5_deployments/01_how_did_you_know_right_where_i_would_be/Atlas_Memory/atlas_env
/Lyss/logs
/specialty_folders/Archivus/chaos_queue
*.db
*.log
*.out
*.lnk
*.sh
*.pdf
Rhea/_inbox/5_deployments/02_you_found_me_where_noone_else_was_looking/sass_harvester/.env
*.txt
Rhea/_inbox/5_deployments/03_yeah_you_broke_through/Eden_Bagged_CHAOS/emergency_protocol.chaosmeta_manifest.pontpanic
Rhea/_inbox/5_deployments/03_yeah_you_broke_through/Eden_Bagged_CHAOS/EIN_Confirmation_Letter.chaos
*.bat
*.svg
*.enc
*.png
*.exe
*.spec
*.example
*.shortcut
*.env
*__init__.py
*.otf
*.blockmap
*.pak
*.dll
/Rhea_historic/_inbox/zip_chaos_files/.CHAOS_Files/unzipped_CHAOS_Mode/ChaosModeApp/dist
/Rhea_historic/_inbox/zip_chaos_files/.CHAOS_Files/unzipped_CHAOS_Mode/ChaosModeApp/node_modules
/Rhea_historic/_outbox/converted
/Serideth/received_logs
/Rhea_historic/to_convert
/Rhea_historic/_inbox
*.TTF
/Codexa/archive
/Codexa/output
/Prismari/historic
/Rhea/_inbox
/Rhea/backups
/Rhea_historic/_outbox
/Rhea_historic/configs
/Rhea_historic
desktop.ini
Alfie/alfie_daemon.edenkey.md
*.zip
*.zip
/Alter_Ego
*.key
/Rhea/Rhea_historic
Find_the_CHAOS_Sorters
*.lock
.vscode/settings.json
.vscode/settings.json
