flake8==7.3.0
pytest==9.0.2
stripe==10.9.0
watchdog==6.0.0
pillow
PyQt5
python-dotenv
filelock
GitPython
PyGitHub
jsonschema
kivy
kivymd
mem0
opentelemetry
pandas
psutil
pyautogui
pydub
pyperclip
pystray
pyttsx3
requests
rich
tenacity
typer
openai-whisper
PyYAML
